@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kaushan+Script&display=swap");

@font-face {
  font-family: "Painting With Chocolate";
  src: url("/src/assets/fonts/Painting_With_Chocolate.ttf") format("truetype");
}

body {
  /* font-family: "Painting With Chocolate"; */
  font-family: "caveat", cursive;
  corner-shape: bevel;
}

body > div {
  box-shadow: inset 0 0 0 12px #b91c1c;
}

h1 {
  font-family: "Painting With Chocolate";
}

p {
  font-family: "caveat", cursive;
}
