@font-face {
  font-family: "Painting With Chocolate";
  src: url("/src/assets/fonts/Painting_With_Chocolate.ttf") format("truetype");
}

@font-face {
  font-family: "caveat";
  src: url("/src/assets/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "caveat", cursive;
}

h1 {
  font-family: "Painting With Chocolate";
}
